{% if messages %}
   {% for message in messages %}
   <div class="alert {{message.tags}}" id="message_container">
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
     <strong>{{ message }}!!</strong> Welcome {{user_name}}
      {% endfor %}
   </div>
{% endif %}

{% include "base.html" %}
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Total Class</h4>
            <p>{{total_class}} Class</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Total Students</h4>
            <p>{{total_students}} Students</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Active Students</h4>
            <p>{{active_students}} Students</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Inactive Students</h4>
            <p>{{inactive_students}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>The chapter you are learning today is going to save someone's life tomorrow.</p>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>I want to experience the most beautiful adrenaline rush of my life. A rush while taking medical pledge/oath</p>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Wherever the art of medicine is loved, there is also a love for humanity.</p>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>I think it is possible for ordinary people to choose to be extraordinary.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>We must accept finite disappointment but never lose infinite hope.</p>
          </div>
        </div>
      </div>

</body>
