{% if messages %}
   {% for message in messages %}
   <div class="alert {{message.tags}}" id="message_container">
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
     <strong>{{ message }}!!</strong>
      {% endfor %}
   </div>
{% endif %}
    <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Student LOGIN</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
      <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/main.css">

    </head>
    <body>
    <div class="wrapper login">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Welcome!</h2>
                    <p>Student Management System<br></p> <a href="/admin_login" class="btn">Login As Admin</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2> Student Login</h2>
                    <form action="" method="post">
                    {% csrf_token %}
                        <p> <label>Phone<span>*</span></label> <input type="number" name="phone" placeholder="Phone" required> </p>
                        <p> <label>Password<span>*</span></label> <input type="password" name="password" placeholder="Password" required> </p>
                        <p> <input type="submit" value="Sign In"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/static/js/script.js"></script>